body {
    margin: 0;
}
/* Base */
.top_banner {
    display: flex;
    position: fixed;
    background-color: rgb(101, 101, 163);
    margin-top: auto;
    height: 6%;
    width: 100%;
    align-items: center;
}

.base_tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22%;
}

#u_selected {
    position: absolute;
    top: 3%;
    font-size: 25px;
}

#selected_mods_window {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 8%;
    align-items: flex-start;
    align-content: center;
    padding-top: 0px;
    padding-bottom: 8%;
}

.window_mod {
    display: flex;
    flex-direction: column;
    font-size: 35%;
    align-items: center;
    margin-bottom: 37%;
    height: max-content;
}

.window_PE {
    display: none;
}

.window_UE {
    display: none;
}

.window_IDCD {
    display: none;
}

.mod_title {
    margin-bottom: 5%;
    font-size: 131%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
    box-shadow: 0 1px 0 black; /* from gpt */
    cursor: pointer; /* from gpt */
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* from gpt */    
}

.tile {
    display: flex;
    border-radius: 40px;
    border: 2px solid black;
    background-color: aqua;
    font-size: 240%;
    width: 360px;
    height: auto;
    text-align: center;
    margin: 3%;
    justify-content: center;
    align-items: center;
    padding: 1%;
    text-decoration: none;
    color: black;
    box-shadow:  0 3px 0 black;
}

.current_stack {
    font-size: 140%;
    width: auto;
    background-color: cornsilk;
    padding: 0.6% 1%;
}

.button:active { /* from gpt */
    transform: translateY(4px);
    box-shadow: 0 1px 0 black;
}

/* pillar_mods */
.back_button {
    display: flex;
    align-items: center;
    font-size: large;
    margin-left: 15px;
    height: 40%;
    border-radius: 10px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    padding: 8px;
    background-color: azure;
    font-weight: bold;
}

.not_done_notice {
    display: none;
    position: absolute;
    top: 160px;
    background-color: antiquewhite;
    border-radius: 12px;
    font-size: 22px;
    margin-left: 22px;
    margin: 20px;
    width: fit-content;
    padding: 20px 20px;
    white-space: pre-line;
    border: 2px solid black;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    background-color: bisque;
    align-items: center;
    width: 95%;
}

.dropdown-mod {
    display: flex;
    width: 95%;
    margin: 5px;
    font-size: 21px;
    align-items: center;
}

.details_nusmods {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    border: 1.5px solid black;
    border-radius: 7px;
    padding: 0px 7px;
    padding-bottom: 3px;
    font-size: 17px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 10px;
    background-color: rgb(164, 186, 186);
}

.select_mod {
    font-size: inherit;
    margin-left: 7px
}

.select_status {
    display: none;
    background-color: green;
    border-radius: 11px;
    border: 2px solid white;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

/* pe_mods */
.mod_2k {
    background-color: rgb(242, 207, 31);
}

.mod_2k {
    background-color: rgb(0, 166, 255);
}

.mod_3k {
    background-color: rgb(111, 30, 210);
}

.mod_4k {
    background-color: rgb(247, 84, 160);
}

.level_circle {
    font-size: 18px;
    margin: 10px;
    height: auto;
    width: auto;
    padding: 3px 7px;
    border-radius: 8px;
    color: aliceblue;
}

.pre_reqs {
    font-size: 15px;
    margin-left: auto;
    padding: 3px 7px;
    border-radius: 7px;
    background-color: rgb(36, 137, 20);
    color: aliceblue;
}

.pr_window {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;  
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    justify-content: center;
    align-items: center;
}

.prs_left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 28px;
    background-color: aliceblue;
    border: 2px solid black;
    height: 70%;
    width: 70%;
    padding: 40px;
}

.i_got_this {
    font-size: 25px;
}

.got_it {
    position: absolute;
    bottom: 60px;
    border-radius: 10px;
    background-color: aquamarine;
    font-size: 22px;
    padding: 2px 8px;
}

.dont_worry {
    position: absolute;
    bottom: 110px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 22px;
    margin: 10px;
}

#the_following {
    top: 60px;
    bottom: auto;
}

.green_fn {
    color: green;
}

/* ue_mods */
.greyed {
    background-color: rgb(168, 167, 167);
}

#ue_credit {
    display: flex;
    position: absolute;
    background-color: rgb(101, 101, 163);
    bottom: 0;
    height: 82px;
    width: 100%;
    align-items: center;   
    justify-content: center;
    font-size: 25px;
    color: aliceblue;
}

#remaining_crs {
    white-space: pre;
    font-weight: bold;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    color: burlywood;
}

.purple {
    display: inline-block;
    color: purple;
}

.black {
    display: inline-block;
    background-color: black;
}

.red {
    color: red;
    white-space: pre;
}

.legend {
    position: absolute;
    top: 12%;
    right: 10%;
    font-size: 22px;
    z-index: 2;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 7px;
    padding: 12px;
}

/* languages */
.language_tile {
    width: 80%
}

.cols2 {
    display: flex;
    flex-direction: column;        
    justify-content: center;
    gap: 0 30px;          
}

.green_bg {
    background-color: rgb(9, 237, 9);
}