body {
    margin: 0;
}
/* Base */
.top_banner {
    display: flex;
    background-color: rgb(101, 101, 163);
    margin-top: auto;
    height: 82px;
    align-items: center;
}

.base_tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    box-shadow: 0 3px 0 black; /* from gpt */
    cursor: pointer; /* from gpt */
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* from gpt */    
}

.tile {
    display: flex;
    border-radius: 15px;
    border: 2px solid black;
    background-color: aqua;
    font-size: 40px;
    width: 600px;
    height: auto;
    text-align: center;
    margin: 20px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.button:active { /* from gpt */
    transform: translateY(4px);
    box-shadow: 0 2px 0 black;
}

/* pillar_mods */
.back_button {
    display: flex;
    align-items: center;
    font-size: large;
    margin-left: 15px;
    height: 40%;
    border-radius: 10px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    padding: 8px;
    background-color: azure;
    font-weight: bold;
}

.not_done_notice {
    display: none;
    background-color: antiquewhite;
    border-radius: 12px;
    font-size: 22px;
    margin-left: 22px;
    margin: 20px;
    width: fit-content;
    padding: 8px 20px;
    white-space: pre-line;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    background-color: bisque;
    align-items: center;
    width: 80%;
}

.dropdown-mod {
    display: flex;
    width: 95%;
    margin: 5px;
    font-size: 21px;
    align-items: center;
}

.details_nusmods {
    text-decoration: none;
    color: black;
    border: 1.5px solid black;
    border-radius: 7px;
    padding: 0px 7px;
    font-size: 17px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 10px;
}

.select_mod {
    font-size: inherit;
    margin-left: 7px
}

.select_status {
    display: none;
    background-color: green;
    border-radius: 11px;
    border: 2px solid white;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

/* pe_mods */
.mod_2k {
    font-size: 15px;
    background-color: chocolate;
    margin: 10px;
}

.mod_2k {
    font-size: 15px;
    background-color: rgb(30, 210, 75);
    margin: 10px;
}

.mod_3k {
    font-size: 15px;
    background-color: rgb(111, 30, 210);
    margin: 10px;
}

.mod_4k {
    font-size: 15px;
    background-color: rgb(210, 30, 114);
    margin: 10px;
}