<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:800px)">
    <link href="../static/mobile.css" rel="stylesheet" media="screen and (max-width:800px)">
</head>
<body>
    <div class="top_banner">
        <button class="current_stack tile button">Selected Mods</button>
    </div>
    <div class="pr_window" id="selected_mods_container">      
        <div class="prs_left" id="selected_mods_window">
            <div id="u_selected"> Your Module Selection: </div>
            <div class="window_mod window_pillar">
                <span class="mod_title">Pillars</span>
            </div>
            <div class="window_mod window_PE">
                <span class="mod_title">PE Mods</span>
            </div>
            <div class="window_mod window_Others">
                <span class="mod_title">Others</span>
            </div>          
            <div class="window_mod window_ID">
                <span class="mod_title">ID Mods</span>
            </div>    
            <div class="window_mod window_CD">
                <span class="mod_title">CD Mods</span>
            </div>
            <div class="window_mod window_Languages">
                <span class="mod_title">Language(s)</span>
            </div>  
            <div class="window_mod window_minors">
                <span class="mod_title">Minor(s)</span>
            </div>
            <button class="got_it button">OK</button>
        </div>
    </div> 
    <div class="base_tiles">
        <a href="/pillar_mods" class="tile button" id="pillar_tile">Pillar Mods</a>
        <a href="/pe_mods" class="tile button" id="PE_tile">Programme Elective Mods</a>
        <a href="/ue_mods" class="tile button" id="UE_tile">Unrestricted Elective Mods</a>
        <a href="/idcd_mods" class="tile button" id="IDCD_tile">Inter & Cross Disciplinary Mods</a>
        <a href="/timetable" class="tile button greyed" id="timetable_tile">Timetable Generator</a>
    </div>
    <script src="../static/base.js"></script>
</body>
</html>