<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:900px)">
</head>
<body>
    <div class="top_banner">

    </div>
    <div class="base_tiles">
        <a href="pillar_mods.html" class="tile button">Pillar Mods</a>
        <a href="pe_mods.html" class="tile button">Programme Elective Mods</a>
        <a href="ue_mods.html" class="tile button">Unrestricted Elective Mods</a>
        <a href="idcd_mods.html" class="tile button">Inter & Cross Disciplinary Mods</a>
    </div>
</body>
</html>