<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>idcd_mods</title>
    <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:800px)">
    <link href="../static/mobile.css" rel="stylesheet" media="screen and (max-width:800px)">
</head>
<body>
    <div class="top_banner">
        <a href="/" class="back_button button">Back</a>
    </div>
    <div class="not_done_notice">
        yuh
    </div>    
    <div class="base_tiles">
        <div class="tile button" id="ID_tile">ID Mods</div>
        <div class="dropdown-menu" id="ID_dropdown">
            <!-- mods go in here via js -->
        </div>
        <div class="tile button" id="CD_tile">CD Mods</div>
        <div class="dropdown-menu" id="CD_dropdown">
            <!-- mods go in here via js -->            
        </div>
</div>
    <script src="../static/IDCD_mods.js"></script>    
</body>
</html>