<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>languages</title>
    <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:800px)">
    <link href="../static/mobile.css" rel="stylesheet" media="screen and (max-width:800px)">
</head>
<body>
    <div class="top_banner">
        <a class="back_button button">Back</a>
    </div>
    <div class="not_done_notice">
        You cannot select more than 2 languages
    </div>
    <div class="cols2">
        <div class="base_tiles">
            <div class="tile language_tile button">Arabic
                <div class="pls_choose"> Level -
                    <select class="lan_lvl" id="Arabic_lvl">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
            <div class="tile language_tile button">Bahasa Indonesia
                <div class="pls_choose"> Level - 
                    <select class="lan_lvl" id="Bahasa_lvl">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
            <div class="tile language_tile button">Chinese
                <div class="pls_choose"> Level - 
                    <select class="lan_lvl" id="Chinese_lvl">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
            <div class="tile language_tile button">German
                <div class="pls_choose"> Level - 
                    <select class="lan_lvl" id="German_lvl">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
            <div class="tile language_tile button">French
                <div class="pls_choose"> Level - 
                <select class="lan_lvl" id="French_lvl">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
                </div>
            </div>
            <div class="tile language_tile button">Japanese
                <div class="pls_choose"> Level - 
                    <select class="lan_lvl" id="Japanese_lvl">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="base_tiles no_overhead">
            <div class="tile language_tile button">Korean
                <div class="pls_choose"> Level - 
                    <select class="lan_lvl" id="Korean_lvl">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
            </div>
            <div class="tile language_tile button">Malay
                <div class="pls_choose"> Level - 
                    <select class="lan_lvl" id="Malay_lvl">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
            <div class="tile language_tile button">Spanish
                <div class="pls_choose"> Level - 
                    <select class="lan_lvl" id="Spanish_lvl">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
            <div class="tile language_tile button">Tamil
                <div class="pls_choose"> Level - 
                    <select class="lan_lvl" id="Tamil_lvl">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <div class="tile language_tile button">Thai
                <div class="pls_choose"> Level - 
                    <select class="lan_lvl" id="Thai_lvl">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
            <div class="tile language_tile button">Vietnamese
                <div class="pls_choose"> Level - 
                    <select class="lan_lvl" id="Vietnamese_lvl">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
        </div>        
    </div>
    <script src="../static/languages.js"></script>
</body>
</html>