<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>languages</title>
    <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:800px)">
    <link href="../static/mobile.css" rel="stylesheet" media="screen and (max-width:800px)">
</head>
<body>
    <div class="top_banner">
        <a href="/" class="back_button button">Back</a>
    </div>
    <div class="cols2">
        <div class="base_tiles">
            <a class="tile language_tile">Arabic</a>
            <a class="tile language_tile">Bahasa Indonesia</a>
            <a class="tile language_tile">Chinese</a>
            <a class="tile language_tile">German</a>
            <a class="tile language_tile">French</a>
            <a class="tile language_tile">Japanese</a>
        </div>
        <div class="base_tiles">
            <a class="tile language_tile">Korean</a>
            <a class="tile language_tile">Malay</a>
            <a class="tile language_tile">Spanish</a>
            <a class="tile language_tile">Tamil</a>
            <a class="tile language_tile">Thai</a>
            <a class="tile language_tile">Vietnamese</a>
        </div>        
    </div>
    <script src="../static/languages.js"></script>
</body>
</html>