<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minors</title>
    <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:800px)">
    <link href="../static/mobile.css" rel="stylesheet" media="screen and (max-width:800px)">
</head>
<body>
    <div class="top_banner">
        <a class="back_button button">Back</a>
    </div>
    <div class="not_done_notice">
        You cannot select more than 2 minors
    </div>
    <div class="pr_window">
        <div class="legend">
            <div class="legend_line">
                <div class="select_status" style="display: inline-block;"></div>
                : Selected Mod
            </div>
            <div class="legend_line">
                <div class="select_status purple" style="background-color: purple;"></div>
                : Unselected PE Mod
            </div>
            <div class="legend_line">
                <div class="select_status black"></div>
                : Unselected UE Mod
            </div>
        </div>        
        <div class="prs_left">
            1 of: BT3103 IS3106
            <button class="got_it button">OK</button>
        </div>
    </div>    

    <div class="base_tiles">
        <div class="tile minor button" id="Chinese_tile">
            <div class="minor_txt">Chinese Language</div>
            <div class="mod_req pre_reqs" id="Chinese_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Economics_tile">
            <div class="minor_txt">Economics</div>
            <div class="mod_req pre_reqs" id="Economics_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Psychology_tile">
            <div class="minor_txt">Psychology</div>
            <div class="mod_req pre_reqs" id="Psychology_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Geosciences_tile">
            <div class="minor_txt">Geosciences</div>
            <div class="mod_req pre_reqs" id="Geosciences_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Interactive_tile">
            <div class="minor_txt">Interactive Media Development</div>
            <div class="mod_req pre_reqs" id="Interactive_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Architectural_tile">
            <div class="minor_txt">Architectural Studies</div>
            <div class="mod_req pre_reqs" id="Architectural_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Biomedical_tile">
            <div class="minor_txt">Biomedical Engineering</div>
            <div class="mod_req pre_reqs" id="Biomedical_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Hydrogen_tile">
            <div class="minor_txt">Hydrogen and Low Carbon Technology</div>
            <div class="mod_req pre_reqs" id="Hydrogen_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Landscape_tile">
            <div class="minor_txt">Landscape Architectural Studies</div>
            <div class="mod_req pre_reqs" id="Landscape_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Project_tile">
            <div class="minor_txt">Project Management</div>
            <div class="mod_req pre_reqs" id="Project_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Visual_tile">
            <div class="minor_txt">Visual Communication Design</div>
            <div class="mod_req pre_reqs" id="Visual_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Infrastructure_tile">
            <div class="minor_txt">Infrastructure Management and Finance</div>
            <div class="mod_req pre_reqs" id="Infrastructure_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Integrative_tile">
            <div class="minor_txt">Integrative Health</div>
            <div class="mod_req pre_reqs" id="Integrative_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Analytical_tile">
            <div class="minor_txt">Analytical Chemistry</div>
            <div class="mod_req pre_reqs" id="Analytical_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Bioinformatics_tile">
            <div class="minor_txt">Bioinformatics</div>
            <div class="mod_req pre_reqs" id="Bioinformatics_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Biophysics_tile">
            <div class="minor_txt">Biophysics</div>
            <div class="mod_req pre_reqs" id="Biophysics_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Chemistry_tile">
            <div class="minor_txt">Chemistry</div>
            <div class="mod_req pre_reqs" id="Chemistry_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Physics_tile">
            <div class="minor_txt">Physics</div>
            <div class="mod_req pre_reqs" id="Physics_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Statistics_tile">
            <div class="minor_txt">Statistics</div>
            <div class="mod_req pre_reqs" id="Statistics_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Quantitative_tile">
            <div class="minor_txt">Quantitative Finance</div>
            <div class="mod_req pre_reqs" id="Quantitative_mod_req">Mod req: NA</div>
        </div>
        <div class="tile minor button" id="Medical_tile">
            <div class="minor_txt">Medical Physics</div>
            <div class="mod_req pre_reqs" id="Medical_mod_req">Mod req: NA</div>
        </div>

    </div>
    <script src="../static/minors.js"></script>
</body>
</html>