<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OverloadSem</title>
    <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:800px)">
    <link href="../static/mobile.css" rel="stylesheet" media="screen and (max-width:800px)">
</head>
<body>
    <div class="top_banner">
        <a href="/" class="back_button button">Back</a>
    </div>    
    <div class="base_tiles">
        <div class="sem_tiles_container">
            <div class="sem_tile">
                <div class="sem_title" id="sem_1">Y1S1<span class='mod_no'>x</span></div>
                <div class="mod_container">
                    <div class="mod_in_sem">CS1010A</div>
                </div>
            </div>            
            <div class="sem_tile">
                <div class="sem_title" id="sem_2">Y1S2<span class='mod_no'>x</span></div>
                <div class="mod_container">
                    <div class="mod_in_sem">CS1010A</div>
                </div>
            </div>
            <div class="sem_tile">
                <div class="sem_title" id="sem_3">Y2S1<span class='mod_no'>x</span></div>
                <div class="mod_container">
                    <div class="mod_in_sem">CS1010A</div>
                </div>
            </div>
            <div class="sem_tile">
                <div class="sem_title" id="sem_4">Y2S2<span class='mod_no'>x</span></div>
                <div class="mod_container">
                    <div class="mod_in_sem">CS1010A</div>
                </div>
            </div>
            <div class="sem_tile">
                <div class="sem_title" id="sem_5">Y3S1<span class='mod_no'>x</span></div>
                <div class="mod_container">
                    <div class="mod_in_sem">CS1010A</div>
                </div>
            </div>
            <div class="sem_tile">
                <div class="sem_title" id="sem_6">Y3S2<span class='mod_no'>x</span></div>
                <div class="mod_container">
                    <div class="mod_in_sem">CS1010A</div>
                </div>
            </div> 
            <div class="sem_tile">
                <div class="sem_title" id="sem_7">Y4S1<span class='mod_no'>x</span></div>
                <div class="mod_container">
                    <div class="mod_in_sem">CS1010A</div>
                </div>
            </div>
            <div class="sem_tile">
                <div class="sem_title" id="sem_8">Y4S2<span class='mod_no'>x</span></div>
                <div class="mod_container">
                    <div class="mod_in_sem">CS1010A</div>
                </div>
            </div>                               
        </div>    
    </div>
    <script src="../static/mod_to_sem.js"></script>
</body>
</html>