<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>others</title>
    <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:800px)">
    <link href="../static/mobile.css" rel="stylesheet" media="screen and (max-width:800px)">
</head>
<body style="display: flex; flex-direction: column; align-items: center;">
    <div class="top_banner">
        <a class="back_button button">Back</a>
    </div>   
    <input type="text" id="search_mod" placeholder="Enter Module Code Here">
    <div class="base_tiles no_overhead">
     <!-- search mods inserted here -->
    </div>
    <script src="../static/others.js"></script>
</body>
</html>