<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OverloadSem</title>
    <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:800px)">
    <link href="../static/mobile.css" rel="stylesheet" media="screen and (max-width:800px)">
</head>
<body>
    <div class="top_banner">
        <a href="/" class="back_button button">Back</a>
    </div>
    <div class="base_tiles">
        <div class="overload_text">Module Overload Allocation</div>
        <div class="xcess_continue">
            <div class="xcess_container">Excess Mods: <span class="xcess_x">3</span></div>
            <div class="continue_allocate greyed">Continue</div>
        </div>    
        <div class="sem_tiles_container">
            <div class="sem_tile">
                <div class="sem_title">Sem 2</div>
                <div class="number_container">
                    <div class="minus_s button" id="minus_s2">-</div>
                    <div class="num_s" id="num_s2">0</div>
                    <div class="add_s button" id="add_s2">+</div>
                </div>
            </div>
            <div class="sem_tile">
                <div class="sem_title">Sem 3</div>
                <div class="number_container">
                    <div class="minus_s button" id="minus_s3">-</div>
                    <div class="num_s" id="num_s3">0</div>
                    <div class="add_s button" id="add_s3">+</div>
                </div>
            </div>
            <div class="sem_tile">
                <div class="sem_title">Sem 4</div>
                <div class="number_container">
                    <div class="minus_s button" id="minus_s4">-</div>
                    <div class="num_s" id="num_s4">0</div>
                    <div class="add_s button" id="add_s4">+</div>
                </div>
            </div>
            <div class="sem_tile">
                <div class="sem_title">Sem 5</div>
                <div class="number_container">
                    <div class="minus_s button" id="minus_s5">-</div>
                    <div class="num_s" id="num_s5">0</div>
                    <div class="add_s button" id="add_s5">+</div>
                </div>
            </div>
            <div class="sem_tile">
                <div class="sem_title">Sem 6</div>
                <div class="number_container">
                    <div class="minus_s button" id="minus_s6">-</div>
                    <div class="num_s" id="num_s6">0</div>
                    <div class="add_s button" id="add_s6">+</div>
                </div>
            </div>        
        </div>
    </div>
    <script src="../static/overload_sem.js"></script>
</body>
</html>