<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pe_mods</title>
    <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:900px)">
</head>
<body>
    <div class="top_banner">
        <a class="back_button button">Back</a>
    </div>
    <div class="not_done_notice">
        Error
    </div>
    <div class="pr_window">
        <div class="legend">
            <div class="legend_line">
                <div class="select_status" style="display: inline-block;"></div>
                : Selected Mod
            </div>
            <div class="legend_line">
                <div class="select_status purple" style="background-color: purple;"></div>
                : Unselected PE Mod
            </div>
            <div class="legend_line">
                <div class="select_status black"></div>
                : Unselected UE Mod
            </div>
        </div>        
        <div class="prs_left">
            1 of: BT3103 IS3106
            <button class="got_it button">OK</button>
        </div>
    </div>    
    <div class="base_tiles">
        <!-- Digital Business -->
        <div class="dropdown-container"> 
            <button class="tile button" id="dropButDigBiz">Digital Business</button>
            <div class="dropdown-menu" id="dropDigBiz">
                <div class="dropdown-mod">
                    <div class="select_status" id="IS3150_status"></div>
                    <button class="select_mod lvl_3k button">IS3150</button>
                    <div class="level_circle mod_3k">3k</div>
                    <button class="pre_reqs button" id="pr_IS3150">pre-reqs: 0</button>
                    <a href="https://nusmods.com/courses/IS3150" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS3240_status"></div>
                    <button class="select_mod lvl_3k button">IS3240</button>
                    <div class="level_circle mod_3k">3k</div>
                    <button class="pre_reqs button" id="pr_IS3240">pre-reqs: 0</button>
                    <a href="https://nusmods.com/courses/IS3240" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4262_status"></div>
                    <button class="select_mod lvl_4k button">IS4262</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4262">pre-reqs: 1</button>
                    <a href="https://nusmods.com/courses/IS4262" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
        <!-- Financial Technology -->
        <div class="dropdown-container"> 
            <button class="tile button" id="dropButFinTec">Financial Technology</button>
            <div class="dropdown-menu" id="dropFinTec">
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4226_status"></div>
                    <button class="select_mod lvl_4k button">IS4226</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4226">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4226" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4228_status"></div>
                    <button class="select_mod lvl_4k button">IS4228</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4228">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4228" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4302_status"></div>
                    <button class="select_mod lvl_4k button">IS4302</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4302">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4302" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4303_status"></div>
                    <button class="select_mod lvl_4k button">IS4303</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4303">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4303" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
        <!-- IT Solutioning -->
        <div class="dropdown-container"> 
            <button class="tile button" id="dropButITSol">IT Solutioning</button>
            <div class="dropdown-menu" id="dropITSol">
                <div class="dropdown-mod">
                    <div class="select_status" id="CS2105_status"></div>
                    <button class="select_mod lvl_2k button">CS2105</button>
                    <div class="level_circle mod_2k">2k</div>
                    <button class="pre_reqs button" id="pr_CS2105">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/CS2105" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS2102_status"></div>
                    <button class="select_mod lvl_2k button">IS2102</button>
                    <div class="level_circle mod_2k">2k</div>
                    <button class="pre_reqs button" id="pr_IS2102">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS2102" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS3108_status"></div>
                    <button class="select_mod lvl_3k button">IS3108</button>
                    <div class="level_circle mod_3k">3k</div>
                    <button class="pre_reqs button" id="pr_IS3108">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS3108" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS3221_status"></div>
                    <button class="select_mod lvl_3k button">IS3221</button>
                    <div class="level_circle mod_3k">3k</div>
                    <button class="pre_reqs button" id="pr_IS3221">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS3221" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4100_status"></div>
                    <button class="select_mod lvl_4k button">IS4100</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4100">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4100" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4234_status"></div>
                    <button class="select_mod lvl_4k button">IS4234</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4234">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4234" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4236_status"></div>
                    <button class="select_mod lvl_4k button">IS4236</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4236">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4236" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4243_status"></div>
                    <button class="select_mod lvl_4k button">IS4243</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4243">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4243" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4248_status"></div>
                    <button class="select_mod lvl_4k button">IS4248</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4248">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4248" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4250_status"></div>
                    <button class="select_mod lvl_4k button">IS4250</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4250">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4250" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4301_status"></div>
                    <button class="select_mod lvl_4k button">IS4301</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4301">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4301" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
        <!-- AI Solutioning -->
        <div class="dropdown-container"> 
            <button class="tile button" id="dropButAISol">AI Solutioning</button>
            <div class="dropdown-menu" id="dropAISol">
                <div class="dropdown-mod">
                    <div class="select_status" id="BT3017_status"></div>
                    <button class="select_mod lvl_3k button">BT3017</button>
                    <div class="level_circle mod_3k">3k</div>
                    <button class="pre_reqs button" id="pr_BT3017">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/BT3017" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS3107_status"></div>
                    <button class="select_mod lvl_3k button">IS3107</button>
                    <div class="level_circle mod_3k">3k</div>
                    <button class="pre_reqs button" id="pr_IS3107">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS3107" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS3109_status"></div>
                    <button class="select_mod lvl_3k button">IS3109</button>
                    <div class="level_circle mod_3k">3k</div>
                    <button class="pre_reqs button" id="pr_IS3109">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS3109" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="BT4014_status"></div>
                    <button class="select_mod lvl_4k button">BT4014</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_BT4014">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/BT4014" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="BT4221_status"></div>
                    <button class="select_mod lvl_4k button">BT4221</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_BT4221">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/BT4221" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="BT4301_status"></div>
                    <button class="select_mod lvl_4k button">BT4301</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_BT4301">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/BT4301" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4151_status"></div>
                    <button class="select_mod lvl_4k button">IS4151</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4151">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4151" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4246_status"></div>
                    <button class="select_mod lvl_4k button">IS4246</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4246">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4246" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4400_status"></div>
                    <button class="select_mod lvl_4k button">IS4400</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4400">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4400" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4401_status"></div>
                    <button class="select_mod lvl_4k button">IS4401</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4401">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4401" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4402_status"></div>
                    <button class="select_mod lvl_4k button">IS4402</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4402">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4402" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
        <!-- IT Business Innovation and Entrepreneurship -->
        <div class="dropdown-container"> 
            <button class="tile button" id="dropButITBiz">IT Biz Innovation and Entrepreneurship</button>
            <div class="dropdown-menu" id="dropITBiz">
                <div class="dropdown-mod">
                    <div class="select_status" id="CP3100_status"></div>
                    <button class="select_mod lvl_3k button">CP3100</button>
                    <div class="level_circle mod_3k">3k</div>
                    <button class="pre_reqs button" id="pr_CP3100">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/CP3100" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS3251_status"></div>
                    <button class="select_mod lvl_3k button">IS3251</button>
                    <div class="level_circle mod_3k">3k</div>
                    <button class="pre_reqs button" id="pr_IS3251">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS3251" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4152_status"></div>
                    <button class="select_mod lvl_4k button">IS4152</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4152">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4152" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4241_status"></div>
                    <button class="select_mod lvl_4k button">IS4241</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4241">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4241" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4261_status"></div>
                    <button class="select_mod lvl_4k button">IS4261</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4261">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4261" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
        <!-- IT Security and Legal Aspects -->
        <div class="dropdown-container"> 
            <button class="tile button" id="dropButITSec">IT Security and Legal Aspects</button>
            <div class="dropdown-menu" id="dropITSec">
                <div class="dropdown-mod">
                    <div class="select_status" id="CS2107_status"></div>
                    <button class="select_mod lvl_2k button">CS2107</button>
                    <div class="level_circle mod_2k">2k</div>
                    <button class="pre_reqs button" id="pr_CS2107">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/CS2107" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IFS4101_status"></div>
                    <button class="select_mod lvl_4k button">IFS4101</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IFS4101">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IFS4101" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4231_status"></div>
                    <button class="select_mod lvl_4k button">IS4231</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4231">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4231" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4233_status"></div>
                    <button class="select_mod lvl_4k button">IS4233</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4233">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4233" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4238_status"></div>
                    <button class="select_mod lvl_4k button">IS4238</button>
                    <div class="level_circle mod_4k">4k</div>
                    <button class="pre_reqs button" id="pr_IS4238">pre-reqs: NA</button>
                    <a href="https://nusmods.com/courses/IS4238" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/pe_mods.js"></script>
</body>
</html>