<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pe_mods</title>
    <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:900px)">
</head>
<body>
    <div class="top_banner">
        <a class="back_button button">Back</a>
    </div>
    <div class="not_done_notice">
        You have not selected a mod from every pillar
    </div>
    <div class="base_tiles">
        <!-- Digital Business -->
        <div class="dropdown-container"> 
            <button class="tile button" id="dropButDigBiz">Digital Business</button>
            <div class="dropdown-menu" id="dropDigBiz">
                <div class="dropdown-mod">
                    <div class="select_status" id="IS3150_status"></div>
                    <button class="select_mod lvl_3k">IS3150</button>
                    <a href="https://nusmods.com/courses/IS3150" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS3240_status"></div>
                    <button class="select_mod lvl_3k">IS3240</button>
                    <a href="https://nusmods.com/courses/IS3240" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4262_status"></div>
                    <button class="select_mod lvl_4k">IS4262</button>
                    <a href="https://nusmods.com/courses/IS4262" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
        <!-- Financial Technology -->
        <div class="dropdown-container"> 
            <button class="tile button" id="dropButFinTec">Financial Technology</button>
            <div class="dropdown-menu" id="dropFinTec">
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4226_status"></div>
                    <button class="select_mod lvl_4k">IS4226</button>
                    <a href="https://nusmods.com/courses/IS4226" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4228_status"></div>
                    <button class="select_mod lvl_4k">IS4228</button>
                    <a href="https://nusmods.com/courses/IS4228" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4302_status"></div>
                    <button class="select_mod lvl_4k">IS4302</button>
                    <a href="https://nusmods.com/courses/IS4302" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4303_status"></div>
                    <button class="select_mod lvl_4k">IS4303</button>
                    <a href="https://nusmods.com/courses/IS4303" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
        <!-- IT Solutioning -->
        <div class="dropdown-container"> 
            <button class="tile button" id="dropButITSol">IT Solutioning</button>
            <div class="dropdown-menu" id="dropITSol">
                <div class="dropdown-mod">
                    <div class="select_status" id="CS2105_status"></div>
                    <button class="select_mod lvl_2k">CS2105</button>
                    <a href="https://nusmods.com/courses/CS2105" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS2102_status"></div>
                    <button class="select_mod lvl_2k">IS2102</button>
                    <a href="https://nusmods.com/courses/IS2102" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS3108_status"></div>
                    <button class="select_mod lvl_3k">IS3108</button>
                    <a href="https://nusmods.com/courses/IS3108" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS3221_status"></div>
                    <button class="select_mod lvl_3k">IS3221</button>
                    <a href="https://nusmods.com/courses/IS3221" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4100_status"></div>
                    <button class="select_mod lvl_4k">IS4100</button>
                    <a href="https://nusmods.com/courses/IS4100" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4234_status"></div>
                    <button class="select_mod lvl_4k">IS4234</button>
                    <a href="https://nusmods.com/courses/IS4234" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4236_status"></div>
                    <button class="select_mod lvl_4k">IS4236</button>
                    <a href="https://nusmods.com/courses/IS4236" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4243_status"></div>
                    <button class="select_mod lvl_4k">IS4243</button>
                    <a href="https://nusmods.com/courses/IS4243" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4248_status"></div>
                    <button class="select_mod lvl_4k">IS4248</button>
                    <a href="https://nusmods.com/courses/IS4248" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4250_status"></div>
                    <button class="select_mod lvl_4k">IS4250</button>
                    <a href="https://nusmods.com/courses/IS4250" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4301_status"></div>
                    <button class="select_mod lvl_4k">IS4301</button>
                    <a href="https://nusmods.com/courses/IS4301" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
        <!-- AI Solutioning -->
        <div class="dropdown-container"> 
            <button class="tile button" id="dropButAISol">AI Solutioning</button>
            <div class="dropdown-menu" id="dropAISol">
                <div class="dropdown-mod">
                    <div class="select_status" id="BT3017_status"></div>
                    <button class="select_mod lvl_3k">BT3017</button>
                    <a href="https://nusmods.com/courses/BT3017" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS3107_status"></div>
                    <button class="select_mod lvl_3k">IS3107</button>
                    <a href="https://nusmods.com/courses/IS3107" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS3109_status"></div>
                    <button class="select_mod lvl_3k">IS3109</button>
                    <a href="https://nusmods.com/courses/IS3109" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="BT4014_status"></div>
                    <button class="select_mod lvl_4k">BT4014</button>
                    <a href="https://nusmods.com/courses/BT4014" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="BT4221_status"></div>
                    <button class="select_mod lvl_4k">BT4221</button>
                    <a href="https://nusmods.com/courses/BT4221" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="BT4301_status"></div>
                    <button class="select_mod lvl_4k">BT4301</button>
                    <a href="https://nusmods.com/courses/BT4301" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4151_status"></div>
                    <button class="select_mod lvl_4k">IS4151</button>
                    <a href="https://nusmods.com/courses/IS4151" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4246_status"></div>
                    <button class="select_mod lvl_4k">IS4246</button>
                    <a href="https://nusmods.com/courses/IS4246" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4400_status"></div>
                    <button class="select_mod lvl_4k">IS4400</button>
                    <a href="https://nusmods.com/courses/IS4400" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4401_status"></div>
                    <button class="select_mod lvl_4k">IS4401</button>
                    <a href="https://nusmods.com/courses/IS4401" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4402_status"></div>
                    <button class="select_mod lvl_4k">IS4402</button>
                    <a href="https://nusmods.com/courses/IS4402" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
        <!-- IT Business Innovation and Entrepreneurship -->
        <div class="dropdown-container"> 
            <button class="tile button" id="dropButITBiz">IT Biz Innovation and Entrepreneurship</button>
            <div class="dropdown-menu" id="dropITBiz">
                <div class="dropdown-mod">
                    <div class="select_status" id="CP3100_status"></div>
                    <button class="select_mod lvl_3k">CP3100</button>
                    <a href="https://nusmods.com/courses/CP3100" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS3251_status"></div>
                    <button class="select_mod lvl_3k">IS3251</button>
                    <a href="https://nusmods.com/courses/IS3251" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4152_status"></div>
                    <button class="select_mod lvl_4k">IS4152</button>
                    <a href="https://nusmods.com/courses/IS4152" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4241_status"></div>
                    <button class="select_mod lvl_4k">IS4241</button>
                    <a href="https://nusmods.com/courses/IS4241" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4261_status"></div>
                    <button class="select_mod lvl_4k">IS4261</button>
                    <a href="https://nusmods.com/courses/IS4261" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
        <!-- IT Security and Legal Aspects -->
        <div class="dropdown-container"> 
            <button class="tile button" id="dropButITSec">IT Security and Legal Aspects</button>
            <div class="dropdown-menu" id="dropITSec">
                <div class="dropdown-mod">
                    <div class="select_status" id="CS2107_status"></div>
                    <button class="select_mod lvl_2k">CS2107</button>
                    <a href="https://nusmods.com/courses/CS2107" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IFS4101_status"></div>
                    <button class="select_mod lvl_4k">IFS4101</button>
                    <a href="https://nusmods.com/courses/IFS4101" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4231_status"></div>
                    <button class="select_mod lvl_4k">IS4231</button>
                    <a href="https://nusmods.com/courses/IS4231" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4233_status"></div>
                    <button class="select_mod lvl_4k">IS4233</button>
                    <a href="https://nusmods.com/courses/IS4233" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="IS4238_status"></div>
                    <button class="select_mod lvl_4k">IS4238</button>
                    <a href="https://nusmods.com/courses/IS4238" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/pe_mods.js"></script>
</body>
</html>