<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pillar_mods</title>
    <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:900px)">
</head>
<body>
    <div class="base_tiles">
        <div class="dropdown-container"> 
            <button class="tile dropBut">GEX Mods</button>

            <div class="dropdown-menu" id="dropGEX">
                <div class="dropdown-mod">
                    <button class="select_mod">GEX1000</button>
                    <a href="https://nusmods.com/courses/GEX1000" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEX1003</button>
                    <a href="https://nusmods.com/courses/GEX1003" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEX1004</button>
                    <a href="https://nusmods.com/courses/GEX1004" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEX1005</button>
                    <a href="https://nusmods.com/courses/GEX1005" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEX1009</button>
                    <a href="https://nusmods.com/courses/GEX1009" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEX1010</button>
                    <a href="https://nusmods.com/courses/GEX1010" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEX1011</button>
                    <a href="https://nusmods.com/courses/GEX1011" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEX1012</button>
                    <a href="https://nusmods.com/courses/GEX1012" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEX1014</button>
                    <a href="https://nusmods.com/courses/GEX1014" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEX1015</button>
                    <a href="https://nusmods.com/courses/GEX1015" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEX1016</button>
                    <a href="https://nusmods.com/courses/GEX1016" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEX1023</button>
                    <a href="https://nusmods.com/courses/GEX1023" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEX1027</button>
                    <a href="https://nusmods.com/courses/GEX1027" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEX1031</button>
                    <a href="https://nusmods.com/courses/GEX1031" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEX1032</button>
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
            </div>
        </div>
        <div class="dropdown-container"> 
            <button class="tile dropBut">GEC Mods</button>

            <div class="dropdown-menu" id="dropGEC">
                <div class="dropdown-mod">
                    <button class="select_mod">GEC1001</button>
                    <a href="https://nusmods.com/courses/GEC1001" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEC1002</button>
                    <a href="https://nusmods.com/courses/GEC1002" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEC1003</button>
                    <a href="https://nusmods.com/courses/GEC1003" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEC1005</button>
                    <a href="https://nusmods.com/courses/GEC1005" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEC1007</button>
                    <a href="https://nusmods.com/courses/GEC1007" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEC1011</button>
                    <a href="https://nusmods.com/courses/GEC1011" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEC1013</button>
                    <a href="https://nusmods.com/courses/GEC1013" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEC1014</button>
                    <a href="https://nusmods.com/courses/GEC1014" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEC1015</button>
                    <a href="https://nusmods.com/courses/GEC1015" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEC1016</button>
                    <a href="https://nusmods.com/courses/GEC1016" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod">GEC1017</button>
                    <a href="https://nusmods.com/courses/GEC1017" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1020
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1023
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1024
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1028
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1030
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1032
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1038
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1040
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1041
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1044
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1045
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1046
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1048
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1049
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1050
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1051
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1053
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
                <div class="dropdown-mod">
                    <button class="select_mod"></button>GEC1054
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">^</a>
                </div>
            </div>
        </div>
        <div class="dropdown-container"> 
            <button class="tile dropBut">GES Mods</button>

            <div class="dropdown-menu" id="dropGES">
                <button class="dropdown-mod">GES1037</button>
                <button class="dropdown-mod">GESS1000</button>
                <button class="dropdown-mod">GESS1001</button>
                <button class="dropdown-moD">GESS1002</button>
                <button class="dropdown-mod">GESS1003</button>
                <button class="dropdown-mod">GESS1004</button>
                <button class="dropdown-mod">GESS1005</button>
                <button class="dropdown-mod">GESS1006</button>
                <button class="dropdown-mod">GESS1009</button>
                <button class="dropdown-mod">GESS1012</button>
                <button class="dropdown-mod">GESS1013</button>
                <button class="dropdown-mod">GESS1014</button>
                <button class="dropdown-mod">GESS1015</button>
                <button class="dropdown-mod">GESS1016</button>
                <button class="dropdown-mod">GESS1018</button>
                <button class="dropdown-mod">GESS1019</button>
                <button class="dropdown-mod">GESS1020</button>
                <button class="dropdown-mod">GESS1021</button>
                <button class="dropdown-mod">GESS1024</button>
                <button class="dropdown-mod">GESS1025</button>
                <button class="dropdown-mod">GESS1027</button>
                <button class="dropdown-mod">GESS1029</button>
                <button class="dropdown-mod">GESS1036</button>
            </div>
        </div>
        <div class="dropdown-container"> 
            <button class="tile dropBut">GEN Mods</button>

            <div class="dropdown-menu" id="dropGEN">
                <button class="dropdown-mod">GEN2000</button>
                <button class="dropdown-mod">GEN2001</button>
                <button class="dropdown-mod">GEN2002X</button>
                <button class="dropdown-mod">GEN2004</button>
                <button class="dropdown-mod">GEN2006</button>
                <button class="dropdown-mod">GEN2007</button>
                <button class="dropdown-mod">GEN2008</button>
                <button class="dropdown-mod">GEN2009</button>
                <button class="dropdown-mod">GEN2050X</button>
                <button class="dropdown-mod">GEN2060X</button>
                <button class="dropdown-mod">GEN2061X</button>
                <button class="dropdown-mod">GEN2062X</button>
                <button class="dropdown-mod">GEN2070X</button>
            </div>
        </div>
    </div>
</body>
</html>