<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pillar_mods</title>
    <link href="../static/styles.css" rel="stylesheet" media="screen and (min-width:900px)">
</head>
<body>
    <div class="top_banner">
        <a class="back_button button">Back</a>
    </div>
    <div class="not_done_notice">
        You have not selected a mod from every pillar
    </div>
    <div class="base_tiles">
        <div class="dropdown-container"> 
            <button class="tile button" id="dropButGEX">GEX Mods</button>

            <div class="dropdown-menu" id="dropGEX">
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1000_status"></div>
                    <button class="select_mod">GEX1000</button>
                    <a href="https://nusmods.com/courses/GEX1000" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1003_status"></div>
                    <button class="select_mod">GEX1003</button>
                    <a href="https://nusmods.com/courses/GEX1003" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1004_status"></div>
                    <button class="select_mod">GEX1004</button>
                    <a href="https://nusmods.com/courses/GEX1004" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1005_status"></div>
                    <button class="select_mod">GEX1005</button>
                    <a href="https://nusmods.com/courses/GEX1005" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1009_status"></div>
                    <button class="select_mod">GEX1009</button>
                    <a href="https://nusmods.com/courses/GEX1009" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1010_status"></div>
                    <button class="select_mod">GEX1010</button>
                    <a href="https://nusmods.com/courses/GEX1010" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1011_status"></div>
                    <button class="select_mod">GEX1011</button>
                    <a href="https://nusmods.com/courses/GEX1011" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1012_status"></div>
                    <button class="select_mod">GEX1012</button>
                    <a href="https://nusmods.com/courses/GEX1012" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1014_status"></div>
                    <button class="select_mod">GEX1014</button>
                    <a href="https://nusmods.com/courses/GEX1014" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1015_status"></div>
                    <button class="select_mod">GEX1015</button>
                    <a href="https://nusmods.com/courses/GEX1015" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1016_status"></div>
                    <button class="select_mod">GEX1016</button>
                    <a href="https://nusmods.com/courses/GEX1016" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1023_status"></div>
                    <button class="select_mod">GEX1023</button>
                    <a href="https://nusmods.com/courses/GEX1023" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1027_status"></div>
                    <button class="select_mod">GEX1027</button>
                    <a href="https://nusmods.com/courses/GEX1027" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1031_status"></div>
                    <button class="select_mod">GEX1031</button>
                    <a href="https://nusmods.com/courses/GEX1031" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEX1032_status"></div>
                    <button class="select_mod">GEX1032</button>
                    <a href="https://nusmods.com/courses/GEX1032" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
        <div class="dropdown-container"> 
            <button class="tile button" id="dropButGEC">GEC Mods</button>

            <div class="dropdown-menu" id="dropGEC">
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1001_status"></div>
                    <button class="select_mod">GEC1001</button>
                    <a href="https://nusmods.com/courses/GEC1001" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1002_status"></div>
                    <button class="select_mod">GEC1002</button>
                    <a href="https://nusmods.com/courses/GEC1002" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1003_status"></div>
                    <button class="select_mod">GEC1003</button>
                    <a href="https://nusmods.com/courses/GEC1003" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1005_status"></div>
                    <button class="select_mod">GEC1005</button>
                    <a href="https://nusmods.com/courses/GEC1005" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1007_status"></div>
                    <button class="select_mod">GEC1007</button>
                    <a href="https://nusmods.com/courses/GEC1007" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1011_status"></div>
                    <button class="select_mod">GEC1011</button>
                    <a href="https://nusmods.com/courses/GEC1011" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1013_status"></div>
                    <button class="select_mod">GEC1013</button>
                    <a href="https://nusmods.com/courses/GEC1013" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1014_status"></div>
                    <button class="select_mod">GEC1014</button>
                    <a href="https://nusmods.com/courses/GEC1014" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1015_status"></div>
                    <button class="select_mod">GEC1015</button>
                    <a href="https://nusmods.com/courses/GEC1015" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1016_status"></div>
                    <button class="select_mod">GEC1016</button>
                    <a href="https://nusmods.com/courses/GEC1016" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1017_status"></div>
                    <button class="select_mod">GEC1017</button>
                    <a href="https://nusmods.com/courses/GEC1017" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1020_status"></div>
                    <button class="select_mod">GEC1020</button>
                    <a href="https://nusmods.com/courses/GEC1020" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1023_status"></div>
                    <button class="select_mod">GEC1023</button>
                    <a href="https://nusmods.com/courses/GEC1023" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1024_status"></div>
                    <button class="select_mod">GEC1024</button>
                    <a href="https://nusmods.com/courses/GEC1024" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1028_status"></div>
                    <button class="select_mod">GEC1028</button>
                    <a href="https://nusmods.com/courses/GEC1028" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1030_status"></div>
                    <button class="select_mod">GEC1030</button>
                    <a href="https://nusmods.com/courses/GEC1030" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1032_status"></div>
                    <button class="select_mod">GEC1032</button>
                    <a href="https://nusmods.com/courses/GEC1032" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1038_status"></div>
                    <button class="select_mod">GEC1038</button>
                    <a href="https://nusmods.com/courses/GEC1038" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1040_status"></div>
                    <button class="select_mod">GEC1040</button>
                    <a href="https://nusmods.com/courses/GEC1040" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1041_status"></div>
                    <button class="select_mod">GEC1041</button>
                    <a href="https://nusmods.com/courses/GEC1041" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1044_status"></div>
                    <button class="select_mod">GEC1044</button>
                    <a href="https://nusmods.com/courses/GEC1044" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1045_status"></div>
                    <button class="select_mod">GEC1045</button>
                    <a href="https://nusmods.com/courses/GEC1045" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1046_status"></div>
                    <button class="select_mod">GEC1046</button>
                    <a href="https://nusmods.com/courses/GEC1046" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1048_status"></div>
                    <button class="select_mod">GEC1048</button>
                    <a href="https://nusmods.com/courses/GEC1048" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1049_status"></div>
                    <button class="select_mod">GEC1049</button>
                    <a href="https://nusmods.com/courses/GEC1048" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1050_status"></div>
                    <button class="select_mod">GEC1050</button>
                    <a href="https://nusmods.com/courses/GEC1050" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1051_status"></div>
                    <button class="select_mod">GEC1051</button>
                    <a href="https://nusmods.com/courses/GEC1051" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1053_status"></div>
                    <button class="select_mod">GEC1053</button>
                    <a href="https://nusmods.com/courses/GEC1053" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEC1054_status"></div>
                    <button class="select_mod">GEC1054</button>
                    <a href="https://nusmods.com/courses/GEC1054" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
        <div class="dropdown-container"> 
            <button class="tile button" id="dropButGES">GES Mods</button>

            <div class="dropdown-menu" id="dropGES">
                <div class="dropdown-mod">
                    <div class="select_status" id="GES1037_status"></div>
                    <button class="select_mod">GES1037</button>
                    <a href="https://nusmods.com/courses/GES1037" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1000_status"></div>
                    <button class="select_mod">GESS1000</button>
                    <a href="https://nusmods.com/courses/GESS1000" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1001_status"></div>
                    <button class="select_mod">GESS1001</button>
                    <a href="https://nusmods.com/courses/GESS1001" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1002_status"></div>
                    <button class="select_mod">GESS1002</button>
                    <a href="https://nusmods.com/courses/GESS1002" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1003_status"></div>
                    <button class="select_mod">GESS1003</button>
                    <a href="https://nusmods.com/courses/GESS1003" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1004_status"></div>
                    <button class="select_mod">GESS1004</button>
                    <a href="https://nusmods.com/courses/GESS1004" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1005_status"></div>
                    <button class="select_mod">GESS1005</button>
                    <a href="https://nusmods.com/courses/GESS1005" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1006_status"></div>
                    <button class="select_mod">GESS1006</button>
                    <a href="https://nusmods.com/courses/GESS1006" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1009_status"></div>
                    <button class="select_mod">GESS1009</button>
                    <a href="https://nusmods.com/courses/GESS1009" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1012_status"></div>
                    <button class="select_mod">GESS1012</button>
                    <a href="https://nusmods.com/courses/GESS1012" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1013_status"></div>
                    <button class="select_mod">GESS1013</button>
                    <a href="https://nusmods.com/courses/GESS1013" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1014_status"></div>
                    <button class="select_mod">GESS1014</button>
                    <a href="https://nusmods.com/courses/GESS1014" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1015_status"></div>
                    <button class="select_mod">GESS1015</button>
                    <a href="https://nusmods.com/courses/GESS1015" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1016_status"></div>
                    <button class="select_mod">GESS1016</button>
                    <a href="https://nusmods.com/courses/GESS1016" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1018_status"></div>
                    <button class="select_mod">GESS1018</button>
                    <a href="https://nusmods.com/courses/GESS1018" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1019_status"></div>
                    <button class="select_mod">GESS1019</button>
                    <a href="https://nusmods.com/courses/GESS1019" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1020_status"></div>
                    <button class="select_mod">GESS1020</button>
                    <a href="https://nusmods.com/courses/GESS1020" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1021_status"></div>
                    <button class="select_mod">GESS1021</button>
                    <a href="https://nusmods.com/courses/GESS1021" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1024_status"></div>
                    <button class="select_mod">GESS1024</button>
                    <a href="https://nusmods.com/courses/GESS1024" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1025_status"></div>
                    <button class="select_mod">GESS1025</button>
                    <a href="https://nusmods.com/courses/GESS1025" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1027_status"></div>
                    <button class="select_mod">GESS1027</button>
                    <a href="https://nusmods.com/courses/GESS1027" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1029_status"></div>
                    <button class="select_mod">GESS1029</button>
                    <a href="https://nusmods.com/courses/GESS1029" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GESS1036_status"></div>
                    <button class="select_mod">GESS1036</button>
                    <a href="https://nusmods.com/courses/GESS1036" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
        <div class="dropdown-container"> 
            <button class="tile button" id="dropButGEN">GEN Mods</button>

            <div class="dropdown-menu" id="dropGEN">
                <div class="dropdown-mod">
                    <div class="select_status" id="GEN2000_status"></div>
                    <button class="select_mod">GEN2000</button>
                    <a href="https://nusmods.com/courses/GEN2000" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEN2001_status"></div>
                    <button class="select_mod">GEN2001</button>
                    <a href="https://nusmods.com/courses/GEN2001" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEN2002X_status"></div>
                    <button class="select_mod">GEN2002X</button>
                    <a href="https://nusmods.com/courses/GEN2002X" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEN2004_status"></div>
                    <button class="select_mod">GEN2004</button>
                    <a href="https://nusmods.com/courses/GEN2004" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEN2006_status"></div>
                    <button class="select_mod">GEN2006</button>
                    <a href="https://nusmods.com/courses/GEN2006" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEN2007_status"></div>
                    <button class="select_mod">GEN2007</button>
                    <a href="https://nusmods.com/courses/GEN2007" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEN2008_status"></div>
                    <button class="select_mod">GEN2008</button>
                    <a href="https://nusmods.com/courses/GEN2008" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEN2009_status"></div>
                    <button class="select_mod">GEN2009</button>
                    <a href="https://nusmods.com/courses/GEN2009" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEN2050X_status"></div>
                    <button class="select_mod">GEN2050X</button>
                    <a href="https://nusmods.com/courses/GEN2050X" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEN2060X_status"></div>
                    <button class="select_mod">GEN2060X</button>
                    <a href="https://nusmods.com/courses/GEN2060X" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEN2061X_status"></div>
                    <button class="select_mod">GEN2061X</button>
                    <a href="https://nusmods.com/courses/GEN2061X" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEN2062X_status"></div>
                    <button class="select_mod">GEN2062X</button>
                    <a href="https://nusmods.com/courses/GEN2062X" class="details_nusmods">?</a>
                </div>
                <div class="dropdown-mod">
                    <div class="select_status" id="GEN2070X_status"></div>
                    <button class="select_mod">GEN2070X</button>
                    <a href="https://nusmods.com/courses/GEN2070X" class="details_nusmods">?</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/pillar_mods.js"></script>
</body>
</html>